body {
  background: #c51431;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c51431;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.content {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content svg {
  width: 200px;
}

.mail-to {
  width: 300px;
  position: absolute;
  bottom: 25%;
  font-family: 'Cutive Mono', monospace;
  /*font-family: courier;*/
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  margin: auto;
}

.mail-to a, .mail-to a:hover {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 2px;
  text-decoration: none;
}

.social-icons {
  width: 200px;
  position: absolute;
  bottom: 15%;
  margin: auto;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icons a {
  color: #FFFFFF;
}

.social-icons a:hover {
  color: #D6D6D6;
}
