body {
  background: #c51431;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c51431;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.logo {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo svg {
  width: 200px;
}

.emailContact {
  width: 300px;
  position: absolute;
  left: 50%;
  bottom: 25%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  font-family: 'Cutive Mono', monospace;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
}

.emailContact a, .emailContact a:hover {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 2px;
  text-decoration: none;
}

.socialIcons {
  width: 200px;
  height: 30px;
  position: absolute;
  left: 50%;
  bottom: 15%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialIcons a {
  color: #FFFFFF;
}

.socialIcons a:hover {
  color: #D6D6D6;
}
